#homeHero{
  width: 100%;
  position: relative;
  height: 100vh;
  background: url("../../../assets/img/heroBg.jpg") no-repeat center/cover;
  .homeHero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(2px);
    &--con{
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      left: 0;
      padding: 0 50px;
      border-right: 2px solid red;
      a{
        color: red;
        font-size: 26px;
        margin: 20px 0;
        transition: .5s;
        &:hover{
          color: white;
          transform: scale(1.2);
          transition: .5s;
        }
      }
    }

    &--info{
      display: flex;
      flex-direction: column;
      align-items: center;
       h1{
         text-align: center;
         font-size: 54px;
         font-weight: 600;
         color: white;
         font-family: sans-serif;
       }
      button{
        padding: 10px 50px;
        margin-top: 60px;
        color: white;
        font-size: 20px;
        background: red;
        border: 2px solid red;
        font-weight: 500;
        border-radius: 10px;
        transition: .4s;
        letter-spacing: 1px;
        &:hover{
          background: transparent;
          color: white;
        }
      }
    }
  }
}


@media (max-width: 880px) {
  #homeHero{
    .homeHero{
      &--block{
        display: none;
      }
      &--con{
        bottom: 40px;
        width: 100%;
        height: 0;
        padding: 50px 0;
        border-right: none;
        border-top: 2px solid red;
        flex-direction: row-reverse;
        a{
          margin: 0 20px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  #homeHero{
    height: 80vh;
    .homeHero{
      &--info{
        h1{
          font-size: 50px;
        }
        button{
          margin-top: 30px;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  #homeHero{
    .homeHero{
      &--info{
        h1{
          font-size: 40px;
        }
        button{
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #homeHero{
    .homeHero{
      &--info{
        h1{
          font-size: 35px;
          font-weight: 500;
        }
        button{
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #homeHero{
    .homeHero{
      &--info{
          h1{
            font-size: 33px;
          }
      }
      &--con{
        padding: 30px 0;
      }
    }
  }
}

@media (max-width: 375px) {
  #homeHero{
    height: 70vh;
    .homeHero{
      &--info{
        h1{
          font-size: 30px;
        }
        button{
          padding: 10px 30px;
        }
      }
      &--con{
        a{
          margin: 0 20px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #homeHero{
    .homeHero{
      &--info{
          h1{
            font-size: 28px;
          }
      }
      &--con{
        a{
          margin: 0 10px;
        }
      }
    }
  }
}