#trainer {
  background:black;
  backdrop-filter: blur(2px);

  .trainer {
    h1 {
      font-weight: 700;
      font-size: 35px;
      color: #e00b0b;
      letter-spacing: 1px;

    }

    &--line {
      width: 240px;
      background: #ffffff;
      height: 4px;
      transition: .6s;
    }

    &--line2 {
      width: 140px;
      background: #d71212;
      height: 5px;
      margin: 5px 0;
      transition: .7s;
    }

    &--group{
      margin-top: 30px;
      display: flex;
      justify-content: space-around;
      align-items: start;
      flex-wrap: wrap;
      &__block{
        width: 25%;
        margin: 30px 20px;
          &--img{
            width: 100%;
            position: relative;
            img{
              border-radius: 10px 10px 0 0;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
            div{
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              color: white;
              background: linear-gradient(rgba(0, 0, 0, 0.15), rgb(3, 2, 2));
            }
          }
          h3 {
            padding: 10px 0;
            font-weight: 650;
            font-size: 25px;
            color: #f51111;
            margin-top: 10px;
          }

          li {
            font-weight: 400;
            font-size: 18px;
            color: white;
          }
      }
    }
  }
}


@media (max-width: 1024px) {
  #trainer {
    .trainer {
      &--group{
        &__block{
          width: 40%;
          h3 {
            font-size: 22px;
          }

          li {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  #trainer {
    .trainer {
      h1{
        font-size: 30px;
      }
      &--group{
        &__block{
          width: 90%;
          h3 {
            font-size: 22px;
          }

          li {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {

}

@media (max-width: 400px) {

}

@media (max-width: 375px) {
  #trainer {
    .trainer {
      h1{
        font-size: 25px;
      }
      &--group{
        &__block{
          h3 {
            font-size: 19px;
          }

          li {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {

}