#about {
  background: black;
  backdrop-filter: blur(2px);
  padding: 150px 0;

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #e00b0b;
    letter-spacing: 2px;
  }

  .about {
    width: 98%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    position: relative;
    img {
      width: 50%;
    }

    &--text {
      width: 50%;
      h4 {
        font-weight: 600;
        font-size: 30px;
        color: white;
        //padding: 10px 0;
        letter-spacing: 2px;
        text-align: center;
      }

      p {
        font-weight: 300;
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 10px 0;
      }
    }
  }
}


@media (max-width: 768px) {
  #about {
    .about {
      flex-direction: column;
      img {
        width: 80%;
        margin-top: 30px;
      }

      &--text {
        width: 90%;
      }
    }
  }
}

@media (max-width: 576px) {
  #about {
    .about {
      img {
        width: 95%;
        margin-top: 30px;
      }

      &--text {
        width: 90%;
      }
    }
  }
}


@media (max-width: 375px) {
  #about {
    .about {

      &--text {
       h4{
         font-size: 24px;
       }
        p{
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 320px) {

}


