#address {
  background: rgba(0, 0, 0, 0.99);
  backdrop-filter: blur(2px);
  padding: 6% 0;

  .address {
    h1 {
      font-weight: 700;
      font-size: 30px;
      color: #ea0a0a;
      letter-spacing: 6px;
    }


    &--line {
      width: 15%;
      background: #ffffff;
      height: 3px;
    }

    &--lineTwo {
      width: 8%;
      background: #d71212;
      height: 4px;
      margin: 5px 0;
    }

    &--block {
      display: flex;
      justify-content: space-between;
      &__text {
        padding-top: 30px;

        h3 {
          font-weight: 650;
          color: #ffffff;
          font-size: 25px;
          letter-spacing: 3px;
        }

        li {
          font-weight: 400;
          font-size: 20px;
          color: #ffffff;
          letter-spacing: 2px;
          padding: 10px 0;
        }
      }


    }
  }
}